dotfiles/.config/btop/btop.log
dotfiles/.config/nvim/lazy-lock.json
dotfiles/.config/fish/fish_variables
# links
dotfiles/.config/sxhkd/sxhkdrc
dotfiles/.config/bspwm/bspwmrc
dotfiles/.config/polybar/config.ini
dotfiles/.config/polybar/nightlight.sh
