[Desktop Entry]
Name=OnlyOffice
Comment=OnlyOffice
Keywords=folder;manager;explore;disk;filesystem;
Exec=/home/calvo/apps/appimages/DesktopEditors-x86_64.AppImage
Icon=/home/calvo/images/icons/only-office.png
Terminal=false
Type=Application
